@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300;400;600;700&display=swap');


*{
    margin: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}

.container{
 background-color: black;
 height: 600px;
 width: 800px;
 display: grid;
 grid-gap: 10px 10px; /*margen y espaciado entre rows columns respectivamente */

 /*hace lo mismo que la linea anterior pero por separado*/
 /* grid-column-gap: 10px ;
 grid-row-gap: 10px; */
 
 grid-template-columns: repeat(4,1fr); /*crea columnas con esas dimensiones*/
 grid-template-rows: 1fr 1fr 1fr; /*es lo mismo que la l'inea anterior pero en filas. Puedo abreviarlo poniendo "repeat(3,1fr)" */
 
}

[class^="item_"]{
    color: #fff;
}/*Modifica a todas las clases que comienzan con item*/

.item_header{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 5;
}

.item_main{
    background-color: rgb(112, 112, 62);
    /* grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; */

   /* con estas linea resumo las 4 anteriores*/
    grid-column: 1/3; /*que comience en la linea 1 y termine en la 3*/
    grid-row: 2/3; /*que comience en la fila 1(linea) y termine en la 3*/
}

.item_sidebar{
    background-color: blueviolet;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.item_footer{
    background-color:green ;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

