@media only screen and (min-width: 1024px){
.large-4{
  width:33.3333333333%
}

.large-blog{
  width: 70%;
}
.large-sidebar{
  width:30%
}


nav ul {margin-left:2vw;}
  nav li {width:auto;}
  nav a{padding: .7rem 1rem;}

}